 <div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div ng-class="{'open': toggle}" ng-cloak class="col-sm-3 col-md-2 sidebar">
      <div class="glyphicon glyphicon-menu-left col-xs-2 closeBar" ng-class="{'open': toggle}" ng-click="toggleSidebar()"></div>        
       <div class="text-center">
        <h2 class="brand">Campus Prime</h2>
        <img src="images/sng.jpg" class="user-avatar" /><br />
        <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
      </div>

      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">News <span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Write-ups</a></li>
        <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Notifications</a></li>
        <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Calendar</a></li>
      </ul>

    </div>
    <div class="row header">
          <div class="col-xs-12">
            <div class="col-xs-1 top20">
              <span class="menu-icon glyphicon glyphicon-transfer" ng-click="toggleSidebar()"></span>
            </div>            
            <div  class="meta col-xs-6 col-xs-8">
              <div class="page">
                Dashboard
              </div>
            </div>
          </div>
    </div>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div> 

