<div class="cpView" >
	<div class="row cpHeader">
		<div class="col-xs-12">
			<span class="text-center"><h2>Forgot Password</h2></span>
		</div>
	</div>
    <div class="container-fluid top20">
        Please enter your valid email id which is registered with Campus Prime. We will send you the password to your mail.
        <form>
           <div class="form-group">
	            <label class="control-label">Email</label>
	            <input type="text" class="form-control" ng-model="email">
	          </div>
              <button type="button" class="btn btn-success" ng-click="checkAndSendMail()">Submit</button>
        </form>
        
    </div>
</div>