<div class="register" >
	<div class="row regHeader">
		<div class="col-xs-12">
			<span class="text-center"><h2>Register</h2></span>
		</div>
	</div>
	<div class="container-fluid top20">
		<div class="row">
			<div class="btn-group col-xs-12">
		        <label class="btn btn-primary col-xs-6" ng-model="selectedRole" uib-btn-radio="'Student'">Student</label>
		        <label class="btn btn-primary col-xs-6" ng-model="selectedRole" uib-btn-radio="'Teacher'">Register</label>
			</div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-body">
		    <div class ="row" ng-show ="selectedRole === 'Student'">
		    	<div class ="col-xs-12">Content for student register page</div>
		    </div>
		    <div class ="row" ng-hide ="selectedRole === 'Student'">
		    	<div class ="col-xs-12">Content for teacher register page</div>
		    </div>
		  </div>
		</div>
	</div>

</div>