<!--  <uib-pager total-items="totalItems" ng-model="currentPage"></uib-pager> -->
<div class="row">
	<div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
		<!-- <div class="row">	
			<uib-pager total-items="totalItems" ng-model="currentPage"></uib-pager>
		</div> -->
		<div class="row"> 	
			<div class="jumbotron">
				<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
			      <uib-slide ng-repeat="eachNews in news" active="eachNews.active" index="eachNews.id">
			        <div class="row">
							<div class="col-xs-12">
								<span class="col-xs-6 text-left ">eachNews.date</span>
								<span class="col-xs-6 text-right">eachNews.publishedBy</span>		
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<span class="text-center"><h3>eachNews.title</h3></span>
							</div>
						</div>
						<!-- <div class="row">
							<div class="col-xs-12 text-center">
								<img src="images/sng.JPG">
							</div>
						</div> -->
						<div class="row">
							<div class="col-xs-12 top20">
								<span class="text-center"><p>eachNews.description<p></span>
							</div>
						</div>

					
			      </uib-slide>
			    </uib-carousel>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-3 col-md-3 hidden-xs">
		<div class="jumbotron">
			<div class="row">
				<div class="list-group">
				  <a class="list-group-item active">All News</a>
				  <a class="list-group-item">Class</a>
				  <a class="list-group-item">Department</a>
				  <a class="list-group-item">Year</a>
				  <a class="list-group-item">My News</a>
				  <a class="list-group-item">Pending</a>
				</div>				
			</div>
		</div>
	</div>
</div>