<div class="row">	
	<div class="panel-group">
		    <div class="panel panel-default" ng-repeat="eachNot in notifications">
		      <div class="panel-heading">{{eachNot.title}}</div>
		      <div class="panel-body">
		      	<p>{{eachNot.description}}</p></br>
		      	<a ng-if="eachNot.fileId>0"ng-href={{"http://localhost:8080/RESTfulProject/REST/WebService/download/"+eachNot.fileId}}>
		      		Clcik here to access the attachment</a></br>		      	
                  
                <a href=""class="pull-right" ng-show="doDisplay(eachNot)"><span class="glyphicon glyphicon-pencil" 
                ng-click="updateNotificaation(eachNot)"></span></a>
                <a href="" class="trash pull-right" ng-click="deleteNotifications(eachNot)" ng-show="doDisplay(eachNot)">
                    <span class="glyphicon glyphicon-trash"></span></a></br>
                <span class="pull-right">Posted by:- {{eachNot.publishedUser}}</span></br>
                <span class="pull-right" >Posted date:- {{getFormatedDate(eachNot.publishedDate)}}</span>                     
                
		      </div>
		    </div>		    
	</div>
		<button type="button" class="btn btn-primary btn-circle btn-lg pull-right btn-floating pull-right"><i class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#notificationPopup"></i></button>		
	
	<div class="modal fade" id="notificationPopup" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">New Notification</h4>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	            <label class="control-label">Title</label>
	            <input type="text" class="form-control" ng-model="notification.title">
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="control-label">Description:</label>
	            <textarea class="form-control" ng-model="notification.description" ></textarea>
	          </div>
	          <div class="form-group">
	            <label class="control-label">Select file</label>
	            <input class="form-control" type='file' file-model='notification.file'>
	          </div>	          
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" class="btn btn-primary" ng-show="!isEditing" ng-click="uploadNotificationFile()">Upload</button>
            <button type="button" class="btn btn-primary" ng-show="isEditing" ng-click="editNotification()">Save</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>