<div class="row">	
	<div class="col-lg-9 panel panel-default">
		<div class="panel-body h-scroll">
			<div ng-repeat="data in writeups |filter:filterTag"class="media">
		  		<div class="media-left">
		    		<a href="#">
		      			<img class="media-object" width="80px" ng-src={{"http://localhost:8080/RESTfulProject/REST/WebService/download/"+data.fileId}} alt="Image not found">
		    		</a>
		  		</div>
		  		<div class="media-body">
		    		<h4 class="media-heading">{{data.title}}</h4>
		    		<p>{{data.description}}</p>
		    		<img  class ="pull-right" width="20px" src="images/claps.png">
		    		<span class ="pull-right">{{data.clapCount}}</span>  
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-primary btn-circle btn-lg pull-right btn-floating pull-right"><i class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#writeUpPopup"></i></button>		
	</div>
	
	<div class="col-lg-3 panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="list-group">
				  <a href="" ng-click="filterTag = {'isApproved':1}" class="list-group-item active"
                  ng-class="filterTag.isApproved ==1? 'active':''">All Writeups</a>
				  <a href="" ng-click="filterTag = {'type':'Literatur'}" class="list-group-item"
                  ng-class="filterTag.type == 'Literatur'? 'active':''">Literatur</a>
				  <a href="" ng-click="filterTag = {'type':'Drawing'}" class="list-group-item"
                  ng-class="filterTag.type == 'Drawing'? 'active':''">Drawing</a>
				  <a href="" ng-click="filterTag = {'type':'Pictures'}" class="list-group-item"
                  ng-class="filterTag.type == 'Pictures'? 'active':''">Pics</a>
				  <a href="" ng-click="filterTag = {'type':'Videos'}" class="list-group-item"
                  ng-class="filterTag.type == 'Videos'? 'active':''">Videos</a>
				  <a href="" ng-click="filterTag = {'publishedBy':userId}" class="list-group-item"
                  ng-class="filterTag.publishedBy === userId? 'active':''">My Writeups</a>
				  <a href="" ng-click="filterTag = {'isApproved':0}" class="list-group-item"
                  ng-class="filterTag.isApproved ==0? 'active':''">Pending</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="writeUpPopup" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">New Writeup</h4>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	            <label class="control-label">Title</label>
	            <input type="text" class="form-control" ng-model="writeUp.title">
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="control-label">Description:</label>
	            <textarea class="form-control" ng-model="writeUp.description" ></textarea>
	          </div>
	          <div class="form-group">
	            <label class="control-label">WriteUp Type:</label>
	            <select class="form-control" ng-model="writeUp.type">
      				<option ng-repeat="option in writeupTypes" value="{{option}}">{{option}}</option>
    			</select>
	          </div>
	          <div class="form-group">
	            <label class="control-label">Select file</label>
	            <input class="form-control" type='file' file-model='writeUp.file'>
	          </div>	          
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" class="btn btn-primary" ng-click="uploadWriteUp()">Upload</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>