.register {
	height:100%;
	background: #ecf0f1;
    color: #666;

    .regHeader {
    	background-color:#fff;
     	border-bottom: 1px solid #eee;
    }

	container-fluid{
		color:white;
		height:100%;
	}
}
